*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    --webkit-font-smoothing:antialiased;
}

main{
    background-color:rgb(219, 208, 208);

    height:100vh;
    display: grid;
    place-items: center;
}

h1{
    margin-bottom: 2rem;
    text-align:center;
    font-size:3rem;
}
form{
    width:100%;
    background-color:white;
    max-width: 600px;
    box-shadow:1px 1px 10px #444;
    padding:100px;
    display:flex;
    border-radius:10px;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
input{
    display: inline-block;
    padding:7px 20px;
    width:100%;
    margin-bottom: 1rem;
    font-size:1.2rem;
}
button{
    padding:7px 20px;
    font-size:1.2rem;
    width:200px;
    margin-bottom: 1rem;
    cursor:pointer;
    background-color:violet;
}

ul{
    width:100%;
    font-size:1.2rem;
}
a{
    text-decoration:none;
}
span{
    margin-left: 2rem;
    color:red;
}
span:hover{
    text-shadow: 1px 1px 10px #444;
}
li{
    font-size:1.5rem;
}